# external large resources
Multimodal_Learning_02/data_transformed/
Multimodal_Learning_02/data/
Multimodal_Learning_02/checkpoints/
Multimodal_Learning_02/src/datasets_copy.py
Diffusion_Model_03/data/
Diffusion_Model_03/checkpoints/

# wandb junk
wandb/
Multimodal_Learning_02/wandb/
Multimodal_Learning_02/notebooks/wandb/
Diffusion_Model_03/wandb/

# OS
.DS_Store