torch==2.9.0
torchvision==0.20.0
sympy==1.12
wandb==0.23.1
weave==0.30.1
albumentations==2.0.8
matplotlib==3.10.0
pandas==2.2.2
fiftyone==1.5.2
tqdm==4.67.1
scikit-learn==1.4.0
numpy==2.0.2
python-dotenv==1.2.1
pillow==11.3.0
datasets==4.0.0
open-clip-torch==2.24.0
opencv-python==4.10.0.84

